body {
	overflow-x: hidden;
	background-color: var(--body-background);
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	/*  https://ishadeed.com/article/new-viewport-units/ */
	min-height: 100dvh;
	background-color: var(--background-color);
}

.site-content {
	background-color: var(--off-black);
	flex-grow: 1;
	max-width: var(--max-width-m);
	margin-inline: auto;
	width: 100%;
}

.site-header,
.site-footer {
	color: var(--header-footer-color);
	background-color: var(--header-footer-background-color);
	padding-block: var(--content-padding);
}

.site-header {
	background: linear-gradient(
		90deg,
		rgba(222, 51, 51, 1) 0%,
		rgba(14, 14, 14, 1) 50%,
		rgba(54, 218, 221, 1) 100%
	);
	background-blend-mode: overlay;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
		linear-gradient(
			90deg,
			rgba(222, 51, 51, 1) 0%,
			rgba(14, 14, 14, 1) 50%,
			rgba(54, 218, 221, 1) 100%
		);
}

.site-logo {
	margin: 0 auto;
}

/* Hilfsklassen für einheitliches Layout. */

.content-padding {
	padding-inline: var(--content-padding);
}

.content-width {
	margin-inline: auto;
	width: 100%;

	&:where(.content-width--s) {
		max-width: var(--max-width-s);
	}

	&:where(.content-width--m) {
		max-width: var(--max-width-m);
	}

	&:where(.content-width--l) {
		max-width: var(--max-width-l);
	}
}

/* Klassen für Elemente, die aus ihrem Container ausbrechen sollen,
z.B. über die volle Breite der Seite. Geeignet für ein einspaltiges
Layout mit in der Mitte zentriertem und in der Breite begrenztem
Hauptinhalt. */

.custom-width {
	width: 100vw;
	translate: -50%;
	margin-inline-start: 50%;

	&:where(.custom-width--s) {
		max-width: var(--max-width-s);
	}

	&:where(.custom-width--m) {
		max-width: var(--max-width-m);
	}

	&:where(.custom-width--l) {
		max-width: var(--max-width-l);
	}

	&:where(.custom-width--xl) {
		max-width: var(--max-width-xl);
	}

	&:where(.custom-width--full) {
		max-width: 100vi;
	}
}
