.nav {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.nav__link {
	color: var(--off-white);
	text-decoration: none;

	&:hover,
	&:focus-visible {
		text-decoration: underline;
		text-decoration-thickness: 0.15em;
	}
}
