:root {
	--spacing-large: 1.25rem;
	--spacing-medium: 0.9375rem;
	--font-size-title: 1.5rem;
	--font-size-text: 1.125rem;
	--font-size-error: 1.125rem
	--color-text: white;
	--color-error: red;
	--border-radius: 0.5rem;
	--max-width-container: 50rem;
}

.videos {
	margin: 0 auto;
	max-width: var(--max-width-container);
	padding: var(--spacing-large);
}

.videos__error {
	color: var(--color-error);
	font-size: var(--font-size-error);
	text-align: center;
}

.videos__item {
	margin-bottom: var(--spacing-large);
}

.videos__link {
	align-items: center;
	color: var(--color-text);
	display: flex;
	text-decoration: none;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.videos__link:hover .videos__title-text {
	text-decoration: underline;
}

.videos__list {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
}

.videos__thumbnail {
	border-radius: var(--border-radius);
	margin-right: var(--spacing-medium);
}

.videos__title {
	font-size: var(--font-size-title);
	margin-bottom: var(--spacing-large);
	text-align: center;
}

.videos__title-text {
	font-size: var(--font-size-text);
	font-weight: bold;
}
